menus-list
  width: 50%

.menus-list
  @include item-list

.menus-list__company
  border-top: 1px solid $card-border-color
  width: 100%

.menus-list__title
  background-color: unquote("rgb(#{$color-accent})")
  color: #fff
