.menus-list
  list-style-type: none
  margin: 0
  padding: 0

.menus-list__company
  color: unquote("rgb(#{$color-primary})")
  cursor: pointer
  display: block

.menus-list__title
  background-color: unquote("rgb(#{$color-accent})")
  color: #fff
